<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dash aluno</title>
  <link rel="stylesheet" href="../../fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="../../css/imel.css">
  <link rel="sortcut icon" href="../../img/log.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/consultar.css">
  <style>

  </style>
</head>
<body>
  <header class="header">
    <nav class="navbar navbar-expand-md navbar-light topbar ">
      <a href="index.html">
        <img src="../../img/log.png" width="250" height="60" class="grid-4" alt="logo">
      </a>
      <button class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false"><span class="navbar-toggler-icon"></span></button>
      <div class="navbar-collapse collapse" id="navbarNav" style="">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="index.html" class="nav-link">Aluno</a>
          </li>
          <li class="nav-item">
            <a href="consultar.html" class="nav-link">Consultar nota</a>
          </li>
          <li class="nav-item">
            <a href="troca.html" class="nav-link">Trocar curso</a>
          </li>
          <li class="nav-item">
            <a href="reclamacao.html" class="nav-link">Reclamação</a>
          </li>

          <!--Nav Item - notificações -->
          <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bell fa-fw"></i>
              <span class="badge badge-danger badge-counter">1+</span>
            </a>

            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
              aria-labelledby="alertsDropdown">
              <h6 class="dropdown-header">
                notificações
              </h6>

              <a class="dropdown-item d-flex align-items-center" href="detalhes.html">
                <div class="mr-3">
                  <div class="icon-circle bg-warning">
                    <i class="fas fa-exclamation-triangle text-white"></i>
                  </div>
                </div>
                <div>
                  <div class="small text-gray-500">Agosto 09, 2020</div>
                  Fazer troca de curso.
                </div>
              </a>
              <a class="dropdown-item text-center small text-gray-500" href="#">Mais notificações</a>
            </div>
          </li>

          <div class="topbar-divider d-none d-sm-block"></div>

          <!-- Nav Item - Informação do usuario -->
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-white-600 small">Ariana Grande</span>
              <img class="img-profile rounded-circle" src="../../img/me.jpg">
            </a>
            <!-- Dropdown - Informação do usuario -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="perfilAluno.html">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Perfil
              </a>

              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              </a>
            </div>
          </li>

        </ul>
      </div>

  </nav>
  </header>

  <!--  -->
  <section class="intro">
    <div class="container">
      <h2>Consultar nota</h2>
      <!-- <blockquote class="quote">
        <p>"A educação é a nosssa maior arma para mudar o futuro, a arte de saber estar"</p>
        <cite>SIMON JOSEPH</cite>
      </blockquote> -->
    </div>
  </section>


  <section class="py-5">
    <div class="container">
    <!--  -->
    <div class="row">

      <!-- card -->
      <div class=" col-md-4 mb-4 bt" id="tr1">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                  <h5>Nota do Iº trimestre</h5>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class=" col-md-4 mb-4 bt" id="tr2">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                  <h5>Nota do IIº trimestre</h5>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class=" col-md-4 mb-4 bt" id="tr3">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                  <h5>Nota do IIIº trimestre</h5>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- card -->

    </div>
    <!--  -->
    <div class="i-t py-5" id="it1">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Iº Trimestre</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-6 d-flex">
                      <div id="dataTable_filter" class="dataTables_filter">
                        <label>
                          Pesquisar:<input type="search" class="form-control form-control-sm" placeholder=""
                            aria-controls="dataTable">
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                      role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                        <tbody><tr>
                          <td rowspan="2">Nº</td>
                          <td rowspan="2" align="center">Nome</td>
                          <td colspan="3" align="center">MAT</td>
                          <td colspan="3" align="center">TIC</td>
                          <td colspan="3" align="center">OAE</td>
                          <td colspan="3" align="center">BDRC</td>
                          <td colspan="3" align="center">PORT</td>
                          <td colspan="3" align="center">FAI</td>
                          <td colspan="3" align="center">TLP</td>
                          <td colspan="3" align="center">ING</td>
                          <td colspan="3">ED.F</td>
    
                        </tr>
                        <tr>
                          <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        </tr>
    
                        <tr>
                          <td>01</td>
                          <td>Alberto</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                        </tr>
    
                        <tr>
                          <td>02</td>
                          <td>Bruno</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                        </tr>
    
                      </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

      <!--  -->
    <div class="i-t2 py-5" id="it2" style="display: none;">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">IIº Trimestre</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                <div class="col-sm-12 col-md-6 d-flex">
                  <div id="dataTable_filter" class="dataTables_filter">
                    <label>
                      Pesquisar:<input type="search" class="form-control form-control-sm" placeholder=""
                        aria-controls="dataTable">
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                      role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                        <tbody><tr>
                          <td rowspan="2">Nº</td>
                          <td rowspan="2" align="center">Nome</td>
                          <td colspan="3" align="center">MAT</td>
                          <td colspan="3" align="center">TIC</td>
                          <td colspan="3" align="center">OAE</td>
                          <td colspan="3" align="center">BDRC</td>
                          <td colspan="3" align="center">PORT</td>
                          <td colspan="3" align="center">FAI</td>
                          <td colspan="3" align="center">TLP</td>
                          <td colspan="3" align="center">ING</td>
                          <td colspan="3">ED.F</td>
    
                        </tr>
                        <tr>
                          <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        </tr>
    
                        <tr>
                          <td>01</td>
                          <td>Alberto</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                        </tr>
    
                        <tr>
                          <td>02</td>
                          <td>Bruno</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                        </tr>
    
                      </tbody>
                      </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <!--  -->
  <div class="i-t3 py-5" id="it3" style="display: none;">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">IIIº Trimestre</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
              <div class="col-sm-12 col-md-6 d-flex">
                <div id="dataTable_filter" class="dataTables_filter">
                  <label>
                    Pesquisar:<input type="search" class="form-control form-control-sm" placeholder=""
                      aria-controls="dataTable">
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                      role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                        <tbody><tr>
                          <td rowspan="2">Nº</td>
                          <td rowspan="2" align="center">Nome</td>
                          <td colspan="3" align="center">MAT</td>
                          <td colspan="3" align="center">TIC</td>
                          <td colspan="3" align="center">OAE</td>
                          <td colspan="3" align="center">BDRC</td>
                          <td colspan="3" align="center">PORT</td>
                          <td colspan="3" align="center">FAI</td>
                          <td colspan="3" align="center">TLP</td>
                          <td colspan="3" align="center">ING</td>
                          <td colspan="3">ED.F</td>
    
                        </tr>
                        <tr>
                          <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        </tr>
    
                        <tr>
                          <td>01</td>
                          <td>Alberto</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                        </tr>
    
                        <tr>
                          <td>02</td>
                          <td>Bruno</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                          <td>d</td>
                        </tr>
    
                      </tbody>
                      </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
    </div>
  </section>
<!--  -->

  <footer>
    <div class="copy">
      <div class="container">
        <p>
          <a href="#">ABDJAM 2020 - Todos direitos reservados.</a>
        </p>
      </div>
    </div>
  </footer>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sair?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Selecionar "Logout" se quiseres terminar a sesão.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="../../logo.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/bootstrap.bundle.min.js"></script>
  <script>
    const tr1 = document.getElementById('tr1');
    const tr2 = document.getElementById('tr2');
    const tr3 = document.getElementById('tr3');

    const it1 = document.getElementById('it1');
    const it2 = document.getElementById('it2');
    const it3 = document.getElementById('it3');

    tr1.addEventListener('click', ()=>{
      it1.style.display = "block";
      it2.style.display = "none";
      it3.style.display = "none";
    })

    tr2.addEventListener('click', ()=>{
      it1.style.display = "none";
      it2.style.display = "block";
      it3.style.display = "none";
    })

    tr3.addEventListener('click', ()=>{
      it1.style.display = "none";
      it2.style.display = "none";
      it3.style.display = "block";
    })
  </script>
                                                                            
</body>
</html>