<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dash aluno</title>
  <link rel="stylesheet" href="../../fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="../../css/imel.css">
  <link rel="sortcut icon" href="../../img/log.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/profile.css">
  <style>

.alert-menu {
    margin-top: 4rem;
    margin-bottom: 4rem;
    min-width: 10rem;
    padding: 0.5rem 0;
    font-size: 0.85rem;
    color: #858796;
    text-align: left;
    list-style: none;
    background-color: #4e73df;
    background-clip: padding-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
}

.gh .dropdown-list .dropdown-item {
    white-space: normal;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-left: 1px solid #e3e6f0;
    border-right: 1px solid #e3e6f0;
    border-bottom: 1px solid #e3e6f0;
    background-color: white;
    line-height: 1.3rem;
}

.gh .dropdown-list .dropdown-item:hover{
  color: #2e2f37;
    text-decoration: none;
    background-color: #f8f9fc;
}

.gh .dropdown-list .dropdown-header {
    background-color: #4e73df;
    border: 1px solid #4e73df;
    padding-top: 0.80rem;
    padding-bottom: 0.75rem;
    color: #fff;
}
  </style>
</head>

<body>
  <%- include('./includes/header', {user, notificationIndex}); %>

  <!-- inicio da Pag. de Conteúdo -->
  <div class="container-fluid py-5">

    <!---->
    <div class="container gh mt-4">
      <div class="dropdown-list alert-menu alert-menu-right shadow animated--grow-in show">
        <h6 class="dropdown-header">
          notificações
        </h6>
  
        <% let numero = notificationContent.length %>
        <% for( noti of notificationContent){ %>
        <a class="dropdown-item d-flex align-items-center" href="detalhes.html">
          <div class="mr-3">
            <div class="icon-circle bg-warning">
              <i class="fas fa-exclamation-triangle text-white"></i>
            </div>
          </div>
          <div>
            <div class="small text-gray-500"></div>
            <% numero -= 1 %>
             <%- notificationContent[numero].content %>
          </div>
        </a>
      <% } %>

        <a class="dropdown-item d-flex align-items-center" href="detalhes.html">
          <div class="mr-3">
            <div class="icon-circle bg-success">
              <i class="fas fa-exclamation-triangle text-white"></i>
            </div>
          </div>
          <div>
            <div class="small text-gray-500">Agosto 09, 2020</div>
            Fazer troca de curso.
          </div>
        </a>
        
      </div>
    </div>
    
    <!---->

  </div>

  <footer>
    <div class="copy">
      <div class="container">
        <p>
          <a href="#">ABDJAM 2020 - Todos direitos reservados.</a>
        </p>
      </div>
    </div>
  </footer>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sair?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Selecionar "Logout" se quiseres terminar a sesão.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="../../logo.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/bootstrap.bundle.min.js"></script>
</body>

</html>