*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
}

.login{
  height: 100%;
  display: flex;
  flex-direction: row;
}

.login-form{
  width: 50%;
  height: 100%;
  background-color: #4877af;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.banner-login{
  width: 50%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form-wrapper{
  /* width: 100%; */
  min-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.login-form-wrapper h2{
  color: #fff;
  margin-bottom: 20px;
}

.login-form-wrapper .btl {
  width: 100%;
}

/**/

.inputBox{
  position: relative;
}

.inputBox input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
}

.inputBox label{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label{
  top: -18px;
  left: 0;
  color: #000;
  font-size: 12px;
}

input[type="submit"]{
  background: transparent;
  border: none;
  outline: none;
  color: #4877af;
  background: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

@media screen and (max-width: 1420px){
  .banner-login img{
    max-width: 400px;
    
  }
  .banner-login{
    width: 50%;
    padding: 0 2px;
  }
}

@media screen and (max-width: 804px){

  .banner-login{
    display: none;
  }

  .login-form{
    width: 100%;
  }
}