.modal-container{
  background-color: rgba(0,0,0,.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container.show-modal{
  display: block;
}

.modal{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  animation-name: modalopen;
  animation-duration: .1s;
}

.modal-header{
  background: blue;
  color: #fff;
  padding: 15px;
}

.modal-header h3{
  margin: 0;
}

.modal-content{
  padding: 20px;
}

.modal-form div{
  margin: 15px 0;
}

.modal-form label{
  display: block;
  margin-bottom: 5px;
}

.modal-form .form-input{
  padding: 8px;
  width: 100%;
}

.btn{
  background-color: blue;
  font-size: 16px;
  color: #000;
  border: 1px solid transparent;
  padding: 5px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  color: #fff;
}

@keyframes modalopen{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}