*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background-color: #f8f9fc;
}

/*Header*/
.header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 15px 0;
  z-index: 10;
}

/**/
.topbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: #4577b0;
}
/**/

.logod{
  width: 100px;
  height: 50px;
}

p{
  font-size: 14px;
  line-height: 20px;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.header_menu{
  text-align: right;
}

.header_menu ul li{
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}

.header_menu ul li a{
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 14px;
  line-height: 20px;
  padding: 10 0px;
}

.header_menu ul li a:hover{
  color: #fff;
}

/*intro*/


.intro h1{
  font-weight: bold;
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
}

.quote{
  max-width: 400px;
  margin: 0 auto;
  color: #fff;
}

.quote p{
  font-style: italic;
}

.quote p::before, .quote p::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 14px auto 10px auto;
}

.quote cite{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .1em;
}

/*cards*/
.cards ul li{
  background: #4877af;
  margin-top: 50px;
  border-radius: 5px;
  text-align: center;
}

.card-icon{
  background-color: #6382a8;
  padding: 20px;
  font-size: 54px;
  color: #fff;
  border-radius: 5px;
}

.cards ul li h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-top: 20px;
}

.cards ul li h3::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 2px auto;
}

.cards ul li p{
  padding: 10px 20px 20px 20px;
}

.copy{
  margin-top: 20px;
  width: 100%;
  background: #4877af;
  padding: 20px 0;
  text-align: center;
}

.copy p a{
  color: #000;
}


/*grid*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.fs{
  font-size: 55px;
}

.bt{
  cursor: pointer;
}