.intro{
  width: 100%;
  height: 116px;
  background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/bgg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 98px;
  text-align: center;
  padding: 20px;


    /* background-attachment: fixed; */
}

.intro h2{
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}