<!-- Sidebar -->
<ul class="navbar-nav bg-m sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - logo -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="cordenador.html">
    <div class="sidebar-brand-icon ">
      <!-- <img class="logo" src="img/log.png" alt=""> -->
      IMEL
    </div>
  </a>

  <!-- Divisão -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="/admin">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Admin</span></a>
  </li>

  <hr class="sidebar-divider">

  <li class="nav-item active">
    <a class="nav-link" href="/admin/cadastrar">
      <i class="fas fa-fw fa-user-graduate"></i>
      <span>Cadastrar</span></a>
  </li>

  <hr class="sidebar-divider my-0">

  <li class="nav-item active">
    <a class="nav-link" href="/admin/gerir">
      <i class="fas fa-fw fa-users"></i>
      <span>Gerir conta</span></a>
  </li>

</ul>
<!-- fim of Sidebar -->

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

  <!-- Main Content -->
  <div id="content">

    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-m topbar mb-4 static-top shadow">

      <!-- Topbar Navbar -->
      <ul class="navbar-nav ml-auto">

        <!-- Nav Item - notificações -->
        

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - Informação do usuario -->
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="mr-2 d-none d-lg-inline text-white-600 small">Admin</span>
            <img class="img-profile rounded-circle" src="../../img/me.jpg">
          </a>
          <!-- Dropdown - Informação do usuario -->
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
            </a>
          </div>
        </li>

      </ul>

    </nav>
    <!-- fim do Topbar -->