<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="../../css/all.css">
  <title>Aluno</title>
  <!-- <style>
    .card{
      padding: 20px;
      text-align: center;
      background-color: #fff;
      /* width: 300px; */
      border-radius: 5px;
      border-left: 3px solid blue;
      cursor: pointer;
      margin: 10px;
      box-shadow: 0px 0px 20px rgba(104, 71, 71, 0.2);
    }
    .card.df{border-left: 3px solid red;}

    .i-t{
      display: block;
    }
    .i-t.disp{
      display: none;
    }

    .i-t2{
      display: none;
    }
    .i-t2.disp{
      display: block;
    }

    .i-t3{
      display: none;
    }
    .i-t3.disp{
      display: block;
    }

    @media (max-width: 750px){
      table{
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
      }
    }
  </style> -->
</head>

<body>
  <div id="wrapper">

    <!---->
    <nav id="nav-off">

      <div class="logo">
        <a href="#">
          <img src="../../img/log.jpg" alt="logo">
        </a>
      </div>

      <ul>
        <li>
          <a href="../../index.html">
            <span><i class="fas fa-home"></i></span>
            <span>Aluno</span>
          </a>
        </li>

        <li>
          <a href="perfil.html">
            <span><i class="fas fa-user"></i></span>
            <span>Perfil</span>
          </a>
        </li>
        <li>
          <a href="consulta.html" class="active">
            <span><i class="fas fa-calendar-alt"></i></span>
            <span>Consulta de nota</span>
          </a>
        </li>
        <li>
          <a href="troca.html">
            <span><i class="fas fa-envelope"></i></span>
            <span>Troca de curso</span>
          </a>
        </li>
        <li>
          <a href="reclamacao.html">
            <span><i class="fas fa-book"></i></span>
            <span>Reclamação</span>
          </a>
        </li>

      </ul>
    </nav>
    <!---->
    <div id="content-wrapper" class="d-flex">
      <div id="content">
        <div class="header">
          <a href="#">
            <i id="hamburger" class="fas fa-bars header-item"></i>
          </a>
          <a href="#" class="header-item">Logout</a>
        </div>

        <div class="container">
          <div class="main">
            <div class="row">
              <div id="test-1" class="card col col-3 df">
                <h3>Nota do primeiro Iº trimestre</h3>
              </div>
              <div id="test-2" class="card col col-3">
                <h3>Nota do primeiro IIº trimestre</h3>
              </div>
              <div id="test-3" class="card col col-3">
                <h3>Nota do primeiro IIIº trimestre</h3>
              </div>
            </div>
            <div class="i-t" id="test">
              <div class="board">
                <div class="board-title">
                  <h2>Iº trimestre</h2>
                </div>
                <div class="board-info">
                  <table class="tab">
                    <tr>
                      <td rowspan="2">Nº</td>
                      <td rowspan="2" align="center">Nome</td>
                      <td colspan="3" align="center">MAT</td>
                      <td colspan="3" align="center">TIC</td>
                      <td colspan="3" align="center">OAE</td>
                      <td colspan="3" align="center">BDRC</td>
                      <td colspan="3" align="center">PORT</td>
                      <td colspan="3" align="center">FAI</td>
                      <td colspan="3" align="center">TLP</td>
                      <td colspan="3" align="center">ING</td>
                      <td colspan="3">ED.F</td>

                    </tr>
                    <td>CAP</td>
                    <td>CPE</td>
                    <td>CF</td>

                    <td>CAP</td>
                    <td>CPE</td>
                    <td>CF</td>

                    <td>CAP</td>
                    <td>CPE</td>
                    <td>CF</td>

                    <td>CAP</td>
                    <td>CPE</td>
                    <td>CF</td>

                    <td>CAP</td>
                    <td>CPE</td>
                    <td>CF</td>

                    <td>CAP</td>
                    <td>CPE</td>
                    <td>CF</td>

                    <td>CAP</td>
                    <td>CPE</td>
                    <td>CF</td>

                    <td>CAP</td>
                    <td>CPE</td>
                    <td>CF</td>

                    <td>CAP</td>
                    <td>CPE</td>
                    <td>CF</td>

                    </tr>

                    <tr>
                      <td>01</td>
                      <td>Alberto</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                    </tr>

                    <tr>
                      <td>02</td>
                      <td>Bruno</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                    </tr>

                    <tr>
                      <td>03</td>
                      <td>Justina</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                    </tr>

                    <tr>
                      <td>04</td>
                      <td>Marcelino</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                    </tr>

                    <tr>
                      <td>05</td>
                      <td>Marcelino</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                    </tr>

                    <tr>
                      <td>06</td>
                      <td>Marcelino</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                    </tr>

                    <tr>
                      <td>07</td>
                      <td>Marcelino</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                    </tr>

                    <tr>
                      <td>08</td>
                      <td>Marcelino</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                    </tr>

                    <tr>
                      <td>09</td>
                      <td>Marcelino</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                    </tr>

                    <tr>
                      <td>10</td>
                      <td>Marcelino</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                    </tr>

                    <tr>
                      <td>11</td>
                      <td>Marcelino</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                    </tr>

                    <tr>
                      <td>12</td>
                      <td>Marcelino</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                    </tr>

                    <tr>
                      <td>13</td>
                      <td>Marcelino</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

            <div class="i-t2" id="test2">
              <div class="board">
                <div class="board-title">
                  <h2>IIº trimestre</h2>
                </div>
                <div class="board-info">
                  <table class="tab">
                    <tr>
                      <td rowspan="2">Nº</td>
                      <td rowspan="2">Nome</td>
                      <td colspan="3">MAT</td>
                      <td colspan="3">TIC</td>
                      <td colspan="3">OAE</td>
                      <td colspan="3">BDRC</td>

                    </tr>

                    <tr>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>

                      <td>d</td>
                      <td>d</td>
                      <td>d</td>

                      <td>d</td>
                      <td>d</td>
                      <td>d</td>

                      <td>d</td>
                      <td>d</td>
                      <td>d</td>

                    </tr>

                    <tr>
                      <td>02</td>
                      <td>Alberto</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                    </tr>

                    <tr>
                      <td>03</td>
                      <td>Bruno</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                    </tr>

                    <tr>
                      <td>04</td>
                      <td>Justina</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                    </tr>

                    <tr>
                      <td>05</td>
                      <td>Marcelino</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                    </tr>

                  </table>
                </div>
              </div>
            </div>

            <div class="i-t3" id="test3">
              <div class="board">
                <div class="board-title">
                  <h2>IIIº trimestre</h2>
                </div>
                <div class="board-info">
                  <table class="tab">
                    <tr>
                      <td rowspan="2">Nº</td>
                      <td rowspan="2">Nome</td>
                      <td colspan="3">MAT</td>
                      <td colspan="3">TIC</td>
                      <td colspan="3">OAE</td>
                      <td colspan="3">BDRC</td>
                      <td colspan="3">PORT</td>
                      <td colspan="3">FAI</td>
                      <td colspan="3">TLP</td>
                      <td colspan="3">ING</td>
                      <td colspan="3">ED.F</td>

                    </tr>
                    <tr>
                      <td>CAP</td>
                      <td>CPE</td>
                      <td>CF</td>

                      <td>CAP</td>
                      <td>CPE</td>
                      <td>CF</td>

                      <td>CAP</td>
                      <td>CPE</td>
                      <td>CF</td>

                      <td>CAP</td>
                      <td>CPE</td>
                      <td>CF</td>

                      <td>CAP</td>
                      <td>CPE</td>
                      <td>CF</td>

                      <td>CAP</td>
                      <td>CPE</td>
                      <td>CF</td>

                      <td>CAP</td>
                      <td>CPE</td>
                      <td>CF</td>

                      <td>CAP</td>
                      <td>CPE</td>
                      <td>CF</td>

                      <td>CAP</td>
                      <td>CPE</td>
                      <td>CF</td>

                    </tr>

                    <tr>
                      <td>01</td>
                      <td>Alberto</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                      <td>d</td>
                    </tr>

                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Footer -->
      <footer class="footer">
        <div class="container">
          <div>
            <a href="#">Copyright &copy; ABDJAM 2020. Todos direitos reservados</a>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
  </div>
  <script>
    const hamburger = document.getElementById('hamburger');
    const nav = document.getElementById('nav-off');
    hamburger.addEventListener('click', function () {
      nav.classList.toggle("hamburger");
    });


    const test = document.getElementById('test');
    const test1 = document.getElementById('test-1');
    test1.addEventListener('click', () => {
      // 
      test.classList.remove("disp");
      test_2.classList.remove("disp");
      test_3.classList.remove("disp");

      //active
      test1.classList.add("df");
      test2.classList.remove("df");
      test3.classList.remove("df");
    });

    const test_2 = document.getElementById('test2');
    const test2 = document.getElementById('test-2');
    test2.addEventListener('click', () => {
      //
      test_2.classList.add("disp");
      test.classList.add("disp");
      test_3.classList.remove("disp");

      //active
      test1.classList.remove("df");
      test2.classList.add("df");
      test3.classList.remove("df");
    });

    const test_3 = document.getElementById('test3');
    const test3 = document.getElementById('test-3');
    test3.addEventListener('click', () => {
      //
      test_3.classList.add("disp");
      test.classList.add("disp");
      test_2.classList.remove("disp");

      //active
      test3.classList.add("df");
      test1.classList.remove("df");
      test2.classList.remove('df');
    });
  </script>
</body>

</html>