<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="../../css/all.css">
  <title>Aluno</title>
  
</head>

<body>
  <div id="wrapper">

    <!---->
    <nav id="nav-off">

      <div class="logo">
        <a href="#">
          <img src="../../img/log.jpg" alt="logo">
        </a>
      </div>

      <ul>
        <li>
          <a href="../../index.html">
            <span><i class="fas fa-home"></i></span>
            <span>Aluno</span>
          </a>
        </li>

        <li>
          <a href="perfil.html" class="active">
            <span><i class="fas fa-user"></i></span>
            <span>Perfil</span>
          </a>
        </li>

        <li>
          <a href="consulta.html">
            <span><i class="fas fa-calendar-alt"></i></span>
            <span>Consulta de nota</span>
          </a>
        </li>
        <li>
          <a href="troca.html">
            <span><i class="fas fa-envelope"></i></span>
            <span>Troca de curso</span>
          </a>
        </li>
        <li>
          <a href="reclamacao.html">
            <span><i class="fas fa-book"></i></span>
            <span>Reclamação</span>
          </a>
        </li>

      </ul>
    </nav>
    <!---->
    <div id="content-wrapper" class="d-flex">
      <div id="content">
        <div class="header">
          <a href="#">
            <i id="hamburger" class="fas fa-bars header-item"></i>
          </a>
          <a href="#" class="header-item">Logout</a>
        </div>

        <div class="container">
          <div class="main">
            <div class="board">
              <div class="board-title">
                <h2>Perfil</h2>
              </div>
              <div class="board-info">
                <table>
                  <tbod>
                    <tr>
                      <td>Nome</td>
                      <td>Nelson Mandela</td>
                    </tr>
                    <tr>
                      <td>Matricula</td>
                      <td>2020-covid</td>
                    </tr>
                    <tr>
                      <td>Curso</td>
                      <td>Info-gest</td>
                    </tr>
                    <tr>
                      <td>Sala</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>Turno</td>
                      <td>Manha</td>
                    </tr>
                    <tr>
                      <td id="open"> <i class="fas fa-cog"></i> Palavra-passe</td>
                      <td>...</td>
                    </tr>
                  </tbod>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Footer -->
      <footer class="footer">
        <div class="container">
          <div>
            <a href="#">Copyright &copy; ABDJAM 2020. Todos direitos reservados</a>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
  </div>

  <!-- modal -->
  <div class="modal-container" id="modal">
    <div class="modal">
      <div class="modal-header">
        <h3>Mudar senha</h3>
      </div>
      <div class="modal-content">
        <form class="modal-form">
          <div>
            <label for="password">Senha</label>
            <input class="form-input" type="password" id="password" placeholder="Digite a Senha antiga">
          </div>
          <div>
            <label for="password-1">Nova senha</label>
            <input class="form-input" type="password" id="password-1" placeholder="Digite Nova Senha">
          </div>
          <input type="submit" class="btn" value="ok">
          <input type="submit" class="btn" id="close" value="cancelar">
        </form>
      </div>
    </div>
  </div>
  <!--end of modal -->
  <script>
    const hamburger = document.getElementById('hamburger');
    const nav = document.getElementById('nav-off');
    hamburger.addEventListener('click', function () {
      nav.classList.toggle("hamburger");
    });

/**/
    const open = document.getElementById('open');
    const close = document.getElementById('close');
    const modal = document.getElementById('modal');

    // Mostrar modal
open.addEventListener('click', () => modal.classList.add('show-modal'));

//Esconder modal

close.addEventListener('click', ()=> modal.classList.remove('show-modal'));

//Esconder modal
  window.addEventListener('click', e => e.target == modal ? 
  modal.classList.remove('show-modal'): false);
  </script>
</body>

</html>