<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../fontawesome-free/css/all.min.css" />
  <link rel="stylesheet" href="../../css/all.css" />
  <title>Aluno</title>
</head>

<body>
  <div id="wrapper">
    <!---->
    <nav id="nav-off">
      <div class="logo">
        <a href="#">
          <img src="../../img/log.jpg" alt="logo" />
        </a>
      </div>

      <ul>
        <li>
          <a href="index.html">
            <span><i class="fas fa-home"></i></span>
            <span>Aluno</span>
          </a>
        </li>
        <li>
          <a href="perfil.html">
            <span><i class="fas fa-user"></i></span>
            <span>Perfil</span>
          </a>
        </li>
        <li>
          <a href="consulta.html">
            <span><i class="fas fa-calendar-alt"></i></span>
            <span>Consulta de nota</span>
          </a>
        </li>
        <li>
          <a href="troca.html">
            <span><i class="fas fa-envelope"></i></span>
            <span>Troca de curso</span>
          </a>
        </li>
        <li>
          <a href="reclamacao.html" class="active">
            <span><i class="fas fa-book"></i></span>
            <span>Reclamação</span>
          </a>
        </li>
      </ul>
    </nav>
    <!---->
    <div id="content-wrapper" class="d-flex">
      <div id="content">
        <div class="header">
          <a href="#">
            <i id="hamburger" class="fas fa-bars header-item"></i>
          </a>
          <a href="#" class="header-item">Logout</a>
        </div>

        <div class="container">
          <div class="main">
            <div class="board">
              <div class="board-title">
                <h2>Reclamação</h2>
              </div>
              <div class="board-info">
                <textarea cols="100" rows="10" class="texaria" placeholder="Escreva Sua Reclamação..."></textarea>
                <input type="button" name="enviar" class="botao" value="Enviar" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <footer class="footer">
        <div class="container">
          <div>
            <a href="#">Copyright &copy; ABDJAM 2020. Todos direitos reservados</a>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
  </div>
  <script>
    const hamburger = document.getElementById("hamburger");
    const nav = document.getElementById("nav-off");
    hamburger.addEventListener("click", function () {
      nav.classList.toggle("hamburger");
    });
  </script>
</body>

</html>