<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="../../css/all.css">
  <title>Aluno</title>
</head>

<body>
  <div id="wrapper">
    <!---->
    <nav id="nav-off">

      <div class="logo">
        <a href="#">
          <img src="../../img/log.jpg" alt="logo">
        </a>
      </div>

      <ul>
        <li>
          <a href="index.html">
            <span><i class="fas fa-home"></i></span>
            <span>Aluno</span>
          </a>
        </li>

        <li>
          <a href="perfil.html">
            <span><i class="fas fa-user"></i></span>
            <span>Perfil</span>
          </a>
        </li>
        <li>
          <a href="consulta.html">
            <span><i class="fas fa-calendar-alt"></i></span>
            <span>Consulta de nota</span>
          </a>
        </li>
        <li>
          <a href="troca.html" class="active">
            <span><i class="fas fa-envelope"></i></span>
            <span>Troca de curso</span>
          </a>
        </li>
        <li>
          <a href="reclamacao.html">
            <span><i class="fas fa-book"></i></span>
            <span>Reclamação</span>
          </a>
        </li>
      </ul>
    </nav>
    <!---->
    <div id="content-wrapper" class="d-flex">
      <div id="content">
        <div class="header">
          <a href="#">
            <i id="hamburger" class="fas fa-bars header-item"></i>
          </a>
          <a href="#" class="header-item">Logout</a>
        </div>

        <div class="container">
          <div class="main">
            <div class="row">
              <div id="cd" class="card col col-3 df">
                <h3>Cadastro</h3>
              </div>
              <div id="tf" class="card col col-3">
                <h3>Lista</h3>
              </div>
            </div>

            <div class="cadas" id="pr">
              <div class="board">
                <div class="board-title">
                  <h2>Preencha os requisitos</h2>
                </div>
                <div class="board-info">
                  <center>
                    <div id="form">
                      <form id="todos">
                        <fieldset>
                          <legend>Cadastrar troca</legend>
                          <div class="das">
                            <legend class="leg"> Meu Turno</legend>
                            <select id="dis" class="se">
                              <option>tarde</option>
                              <option>manhã</option>
                              <option>noite</option>
                            </select>
                          </div>

                          <div class="row">
                            <div class="col col-5">
                              <legend class="li">Curso que Quero</legend>
                              <select id="dis">
                                <option>INFORGEST</option>
                                <option>COGEST</option>
                                <option>COMERCIO</option>
                              </select>
                            </div>
                            <div class="col col-5">
                              <legend class="li">Curso que Quero</legend>
                              <select id="dis">
                                <option>INFORGEST</option>
                                <option>COGEST</option>
                                <option>COMERCIO</option>
                              </select>
                            </div>
                          </div>

                          <input type="button" name="tEnviar" class="botao" value="Cadastrar" maxlength="">
                          <input type="reset" name="botao" class="botao" value="Apagar">
                        </fieldset>
                      </form>
                    </div>
                  </center>
                </div>
              </div>
            </div>

            <div class="list " id="lt">
              <div class="board">
                <div class="board-title">
                  <h2>Lista</h2>
                </div>
                <div class="board-info">
                  <table>
                    <tr>
                      <td align="center">Milton Proibido Milton Proibido</td>
                      <td align="center">Inforgest</td>
                      <td align="center">Tarde</td>
                      <td align="center">Inforgest</td>
                      <td align="center">Manhã </td>
                      <td align="center"><input type="image" name="solicit" src="../../img/botao-enviar.png" width="60">
                      </td>
                    </tr>

                    <tr>
                      <td align="center">Milton Proibido Milton Proibido</td>
                      <td align="center">Inforgest</td>
                      <td align="center">Tarde</td>
                      <td align="center">Inforgest</td>
                      <td align="center">Manhã </td>
                      <td align="center"><input type="image" name="solicit" src="../../img/botao-enviar.png" width="60">
                      </td>
                    </tr>

                  </table>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <footer class="footer">
        <div class="container">
          <div>
            <a href="#">Copyright &copy; ABDJAM 2020. Todos direitos reservados</a>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
  </div>
  <script>
    const hamburger = document.getElementById('hamburger');
    const nav = document.getElementById('nav-off');
    hamburger.addEventListener('click', function () {
      nav.classList.toggle("hamburger");
    });

    const pr = document.getElementById("pr");
    const lt = document.getElementById("lt");
    const cd = document.getElementById("cd");
    const tf = document.getElementById("tf");

    cd.addEventListener("click", () => {
      lt.classList.remove("disp");
      pr.classList.remove("disp");

      cd.classList.add("df");
      tf.classList.remove("df");
    })
    tf.addEventListener("click", () => {

      pr.classList.add("disp");
      lt.classList.add("disp");

      cd.classList.remove("df");
      tf.classList.add("df");
    });
  </script>
</body>

</html>