<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="../../css/all.css">
  <link rel="stylesheet" href="../../css/bootstrap/css/bootstrap.css">
  <title>Aluno</title>

</head>

<body>
  <div id="wrapper">

    <!-- <div class="logo">
        <a href="">
          <img src="img/log.jpg" alt="logo">
        </a>
      </div>-->
    
    <!---->
    <div id="content-wrapper" class="d-flex">
      <div id="content">
        <div class="header">
          <!-- <a href="#">
            <i id="hamburger" class="fas fa-bars header-item"></i>
          </a> -->
          <div class="logo">
            <a href="">
              <img src="../../img/log.jpg" alt="logo">
            </a>
          </div>
          <a href="#" class="header-item">Logout</a>
        </div>

        <div class="container">
          <h1 class="display-4 text-center">Cadastra aluno</h1>
          <div class="main">
            <div class="perfil">
              <form action="/login" method="post">
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputname4">Nome</label>
                    <input type="name" name="nome" class="form-control" id="inputname4" placeholder="name">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputsegundoNome4">Segundo nome</label>
                    <input type="text"  name="segundoNome" class="form-control" id="inputsegundoNome4" placeholder="SegundoNome">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="email">Email</label>
                    <input type="email"  name="email" class="form-control" id="email" placeholder="email">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputAddress">B.I</label>
                    <input type="text" name="bi" class="form-control" id="inputAddress" placeholder="BI">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputAddress2">Classe</label>
                    <input type="text" name="classe" class="form-control" id="inputAddress2" placeholder="Classe">
                  </div>
                </div>
                
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCity">Cidade</label>
                    <input type="text" name="cidade" class="form-control" id="inputCity" placeholder="Cidade">
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Cadastra</button>
              </form>
      </div>
          </div>
        </div>
      </div>


      <!-- Footer -->
      <!-- <footer class="footer">
        <div class="container">
          <div>
            <a href="#">Copyright &copy; ABDJAM 2020. Todos direitos reservados</a>
          </div>
        </div>
      </footer> -->
      <!-- End of Footer -->
    </div>
  </div>
  <script>
    const hamburger = document.getElementById('hamburger');
    const navOff = document.getElementById('nav-off');
    hamburger.addEventListener('click', function () {
      navOff.classList.toggle('hamburger');
    })
  </script>
</body>

</html>