<!DOCTYPE html>
<html lang="pt">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>IMEL</title>

  <link href="../../fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="../../css/imel.css" rel="stylesheet">

</head>

<body id="page-top">

  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('./includes/sidebar') %>
        <!-- fim do Topbar -->

        <!-- inicio da Pag. de Conteúdo -->
        <div class="container-fluid">

           <!-- ACTIONS -->
  <section id="action" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3 mr-auto">
          <a href="/cordenacao/cadastrar" class="btn btn-light btn-block">
            <i class="fa fa-arrow-left"></i> Voltar para Dashboard
          </a>
        </div>
        <div class="col-md-3">
          <a href="#" class="btn btn-success btn-block">
            <i class="fa fa-check"></i> Savar mudanças
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- POSTS -->
  <section id="posts">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>Editar dados</h4>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="name">Nome</label>
                      <input type="text" class="form-control" value="Ariana">
                    </div>
                  </div>
                  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="sobrenome">Sobrenome</label>
                      <input type="text" class="form-control" value="Grande">
                    </div>
                  </div>
                  
                </div>
                
                <div class="form-group">
                  <label for="bi">Bi</label>
                  <input type="text" class="form-control" value="00102929LA">
                </div>
                <div class="form-group">
                  <label for="title">Curso</label>
                  <select class="form-control">
                    <option value="">Infogest</option>
                    <option value="">Contabilidade</option>
                    <option value="">Economia</option>
                  </select>
                </div>
    
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="classe">Classe</label>
                      <select class="form-control">
                        <option value="">10</option>
                        <option value="">11</option>
                        <option value="">12</option>
                        <option value="">13</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="sala">Sala</label>
                      <select class="form-control">
                        <option value="">10</option>
                        <option value="">11</option>
                        <option value="">12</option>
                        <option value="">13</option>
                      </select>
                    </div>
                  </div>
                  
                </div>
                
                <div class="form-group">
                  <label for="nrAluno">Nº do aluno</label>
                  <input type="number" class="form-control" value="12">
                </div>
    
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="turno">Turno</label>
                      <select class="form-control">
                        <option value="Manhã">Manhã</option>
                        <option value="">Tarde</option>
                        <option value="">Noite</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="turma">Turma</label>
                      <input type="text" class="form-control" value="EIM31">
                    </div>
                  </div>
                  
                </div>
                
                <div class="form-group">
                  <label for="processo">Nº processo</label>
                  <input type="number" class="form-control" value="1019850">
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- fim do Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ABDJAM 2020</span>
          </div>
        </div>
      </footer>
      <!-- fim da Footer -->

    </div>
    <!-- fim do Content Wrapper -->

  </div>
  <!-- fim da Pag Wrapper -->

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sair?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Selecionar "Logout" se quiseres terminar a sesão.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="../../logo.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/bootstrap.bundle.min.js"></script>
                                                                            
</body>

</html>