<!DOCTYPE html>
<html lang="pt">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>IMEL</title>

  <link href="../../fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="../../css/imel.css" rel="stylesheet">
  <link rel="stylesheet" href="../../css/dataTables.bootstrap4.min.css">

</head>

<body id="page-top">

  <div id="wrapper">

    <%- include('./includes/sidebar', {user}) %>
        <!-- fim do Topbar -->

        <!-- inicio da Pag. de Conteúdo -->
        <div class="container-fluid">

          <div class="col-md-3 mb-4">
            <a href="#" class="btn btn-success btn-block">
              <i class="fa fa-check"></i> Savar mudanças
            </a>
          </div>

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Turma EIM31</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-6 d-flex">
                      <div id="dataTable_filter" class="dataTables_filter">
                        <label>
                          Pesquisar:<input type="search" class="form-control form-control-sm" placeholder=""
                            aria-controls="dataTable">
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">


                      <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                      role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                        <tbody><tr>
                          <td rowspan="2">Nº</td>
                          <td rowspan="2" align="center">Nome</td>
                          <td colspan="3" align="center">MAT</td>
                          <td colspan="3" align="center">TIC</td>
                          <td colspan="3" align="center">OAE</td>
                          <td colspan="3" align="center">BDRC</td>
                          <td colspan="3" align="center">PORT</td>
                          <td colspan="3" align="center">FAI</td>
                          <td colspan="3" align="center">TLP</td>
                          <td colspan="3" align="center">ING</td>
                          <td colspan="3">ED.F</td>
    
                        </tr>
                        <tr>
                          <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        <td>P1</td>
                        <td>P2</td>
                        <td>P3</td>
    
                        </tr>
    
                        <tr>
                          <td>01</td>
                          <td>Ariana Grande</td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                        </tr>
    
                        <tr>
                          <td>02</td>
                          <td>Kylie Jenner</td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                            <td><input type="number" class="inp"></td>
                        </tr>
    
                      </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- fim do Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ABDJAM 2020</span>
          </div>
        </div>
      </footer>
      <!-- fim da Footer -->

    </div>
    <!-- fim do Content Wrapper -->

  </div>
  <!-- fim da Pag Wrapper -->

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sair?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Selecionar "Logout" se quiseres terminar a sesão.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="../../logo.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/bootstrap.bundle.min.js"></script>
</body>

</html>