<!DOCTYPE html>
<html lang="pt">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>IMEL</title>

  <link href="../../fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="../../css/imel.css" rel="stylesheet">

</head>

<body id="page-top">

  <div id="wrapper">

    <!-- Sidebar -->
    <%- include('./includes/sidebar') %>
        <!-- fim do Topbar -->

        <!-- inicio da Pag. de Conteúdo -->
        <div class="container-fluid">

        
          <header id="main-header" class="  text-black">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <h1><i class="fa fa-user"></i> Perfil</h1>
                </div>
              </div>
            </div>
          </header>
        

          <section id="action" class="py-4 mb-4 bg-light">
            <div class="container">
              <div class="row">
                <div class="col-md-3 mr-auto">
                  <a href="/cordenacao/cordenador" class="btn btn-light btn-block">
                    <i class="fa fa-arrow-left"></i> Voltar para Dashboard
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#passwordModal">
                    <i class="fa fa-lock"></i> Mudar Password
                  </a>
                </div>
              </div>
            </div>
          </section>
        

          <section id="profile">
            <div class="container">
              <div class="row">
                <div class="col-md-9">
                  <div class="card">
                    <div class="card-header">
                      <h4>Editar Perfil</h4>
                    </div>
                    <div class="card-body">
                      <form>
                        <div class="form-group">
                          <label for="name">Nome</label>
                          <input type="text" class="form-control" value="Ariana Grande">
                        </div>
                        <div class="form-group">
                          <label for="email">Processo</label>
                          <input type="number" class="form-control" value="1019850">
                        </div>
                        <div class="form-group">
                          <label for="email">Curso</label>
                          <input type="text" class="form-control" value="INFOGEST">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <h3>Teu Avatar</h3>
                  <img src="../img/me.jpg" alt="" class="d-block img-fluid mb-3">
                  <button class="btn btn-primary btn-block">Editar Imagen</button>
                </div>
              </div>
            </div>
          </section>
        
          <!-- PASSWORD MODAL -->
          <div class="modal fade" id="passwordModal">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header bg-m text-white">
                  <h5 class="modal-title">Mudar a Password</h5>
                  <button class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="name">Password</label>
                      <input type="password" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="name">Confirma Password</label>
                      <input type="password" class="form-control">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <button class="btn btn-primary" data-dismiss="modal">Atualizar Password</button>
                </div>
              </div>
            </div>
          </div>
        
          <!---->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- fim do Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ABDJAM 2020</span>
          </div>
        </div>
      </footer>
      <!-- fim da Footer -->

    </div>
    <!-- fim do Content Wrapper -->

  </div>
  <!-- fim da Pag Wrapper -->

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sair?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Selecionar "Logout" se quiseres terminar a sesão.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="../../logo.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/bootstrap.bundle.min.js"></script>
</body>

</html>
