<!DOCTYPE html>
<html lang="pt">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>IMEL</title>

  <link href="../../fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="../../css/imel.css" rel="stylesheet">

</head>

<body id="page-top">

  <div id="wrapper">

    <%- include('./includes/sidebar') %>

        <!-- inicio da Pag. de Conteúdo -->
        <div class="container-fluid">

          <!-- ACTIONS -->
          <section id="action" class="py-4 mb-4 bg-light">
            <div class="container">
              <div class="row">
                <div class="col-md-3 mr-auto">
                  <a href="cordenador.html" class="btn btn-light btn-block">
                    <i class="fa fa-arrow-left"></i> Voltar para Dashboard
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="btn btn-danger btn-block">
                    <i class="fa fa-trash"></i> Eliminar conta
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="btn btn-success btn-block">
                    <i class="fa fa-check"></i> Salvar mudanças
                  </a>
                </div>
              </div>
            </div>
          </section>

          <!-- POSTS -->
          <div class="row">
            <div class="col-md-3 text-center">
              <h4>Fotografia do aluno</h4>
              <img class="imgAvatar" src="../../img/me.jpg" alt=""
                class="d-block img-fluid mb-3">
            </div>
            <div class="col-md-9">

              <section id="posts">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <div class="card">
                        <div class="card-header">
                          <h4>Editar dados</h4>
                        </div>
                        <div class="card-body">
                          <form>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="name">Nome</label>
                                  <input type="text" class="form-control" value="">
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="bi">Bi</label>
                                  <input type="text" class="form-control" value="">
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="form-group col-md-4">
                                <label for="file">BI Foto </label>
                                <input type="file" name="photo" class="form-control-file" value="Oal.pdf">
                                <small class="form-text text-muted">Nº max 3mb</small>
                              </div>
                              <div class="col-md-4"></div>
                              <div class="col-md-4">
                                <a href="#" target="_blanck" class="btn btn-primary btn-block"> Ver BI</a>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="title">Curso</label>
                                  <input type="text" class="form-control" value="Inforgest">
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="classe">Número</label>
                                  <input type="number" class="form-control" value="">
                                </div>
                              </div>
                            </div>

                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <!---->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- fim do Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; ABDJAM 2020</span>
          </div>
        </div>
      </footer>
      <!-- fim da Footer -->

    </div>
    <!-- fim do Content Wrapper -->

  </div>
  </div>
  <!-- fim da Pag Wrapper -->

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sair?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Selecionar "Logout" se quiseres terminar a sesão.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="../../logo.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/bootstrap.bundle.min.js"></script>
</body>

</html>